<launch>
<!-- Define an argument for the package name -->
<arg name="pkg_name" default="lab_1_pkg" />

<node pkg = "$(arg pkg_name)" type="light_sensor.py" name = "light" />
<node pkg = "$(arg pkg_name)" type="lines_dodger.py" name = "lines" />
<node pkg = "$(arg pkg_name)" type="object_detection.py" name = "camera" />
<node pkg = "$(arg pkg_name)" type="odometry_node.py" name = "odometry" />
<node pkg = "$(arg pkg_name)" type="graph_node.py" name = "graph_node" />
<node pkg = "$(arg pkg_name)" type="main_node.py" name = "main" output="screen"/>
<node pkg = "$(arg pkg_name)" type="closest_object.py" name = "lidar" />
<node pkg = "$(arg pkg_name)" type="gotogoal.py" name = "go_to_goal" />

<arg name="world_path" default="/home/franco/FRA-Lab/lab2/gazebo/worlds/final_world" />
<node pkg = "gazebo_ros" type="gazebo" name = "gazebo1" args="-world_name $(arg world_path)" />


</launch>
