<launch>
    <!-- Define an argument for the package name -->
    <arg name="pkg_name" default="lab_2_pkg" />

    <node pkg = "usb_cam" type="usb_cam_node" name = "usb_cam" output="log"/>
    <!-- hls_lfcd_lds_driver  -->
    <include file="$(find hls_lfcd_lds_driver)/launch/hlds_laser.launch" />
    <!-- dinamixel workbench -->
    <include file="$(find dynamixel_workbench_controllers)/launch/dynamixel_controllers_1.launch" />
    
    <!--rosserial-arduino-->
    <node pkg = "rosserial_python" type="serial_node.py" name = "rosserial_arduino" args="/dev/ttyACM0" />

    <node pkg = "$(arg pkg_name)" type="closest_object.py" name = "closest_object" />
    <node pkg = "$(arg pkg_name)" type="odometry_node.py" name = "odometry" />
    <node pkg = "$(arg pkg_name)" type="gotogoal.py" name = "gotogoal" />
    <node pkg = "$(arg pkg_name)" type="lines_dodger.py" name = "line_doger" />
    <node pkg = "$(arg pkg_name)" type="object_detector.py" name = "object_detector"/>
    <node pkg = "$(arg pkg_name)" type="main_node.py" name = "main" output="screen"/>
    <node pkg = "$(arg pkg_name)" type="graph_node.py" name = "graph" />
</launch>